<br>

<div class="col-md-12">
  <form class="form-horizontal">
    <fieldset>
      <legend>Name & Title</legend>
    
      <div class="form-group">
        <label for="userName" class="col-sm-2 control-label">User Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="userName">
        </div>
      </div>

      <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Title</label>
        <div class="col-sm-9">
          <select id="title" 
            class="form-control" 
            name="titleId">
              <option value=""></option>
              <option *ngFor="let t of titles" value="{{ t.id }}">{{ t.name }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="firstName">
        </div>
      </div>

      <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="lastName">
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Address</legend>
    
      <div class="form-group">
        <label for="address" class="col-sm-2 control-label">Address</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="address">
        </div>
      </div>
    
      <div class="form-group">
        <label for="city" class="col-sm-2 control-label">City</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="city">
        </div>
      </div>
    
      <div class="form-group">
        <label for="zip" class="col-sm-2 control-label">Zip</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="zip">
        </div>
      </div>
    
      <div class="form-group">
        <label for="state" class="col-sm-2 control-label">State</label>
        <div class="col-sm-9">
          <select id="state" 
            class="form-control" 
            name="stateId">
              <option value=""></option>
              <option *ngFor="let s of states" value="{{ s.abbreviation }}">{{ s.name }}</option>
          </select>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Contact</legend>
    
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="email">
        </div>
      </div>
    
      <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-9">
          <input type="tel" class="form-control" id="phone">
        </div>
      </div>
    
      <div class="form-group">
        <label for="cellPhone" class="col-sm-2 control-label">Cell Phone</label>
        <div class="col-sm-9">
          <input type="tel" class="form-control" id="cellPhone">
        </div>
      </div>
    </fieldset>

    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </form>
</div>