<header class="row spacing">
    <nav class="col-md-12">
        <ul class="nav nav-tabs nav-justified">
            <li routerLinkActive="active"><a [routerLink]="['userDetails']">User Details</a></li>
            <li routerLinkActive="active"><a [routerLink]="['userRoles']">User Roles</a></li>
            <li routerLinkActive="active"><a [routerLink]="['userClients']">User Clients</a></li>
            <li routerLinkActive="active"><a [routerLink]="['sales']">Sales</a></li>
            <li routerLinkActive="active"><a [routerLink]="['houseAccounts']">House Accounts</a></li>
        </ul>
    </nav>
</header>
