SELECT [Id]
      ,[Name]
  FROM [patriot].[dbo].[Makes]

SELECT [Id]
      ,[MakeId]
      ,[Name]
  FROM [patriot].[dbo].[Models]

SELECT [Id]
      ,[Name]
  FROM [patriot].[dbo].[Features]
